[theme]
name = "plain"

[icons]
name = "awesome5"

[[block]]
block = "networkmanager"
primary_only=true
interface_name_exclude = ["br\\-[0-9a-f]{12}", "docker\\d+"]
interface_name_include = []

[[block]]
block = "backlight"
on_click = "lxrandr"

[[block]]
block = "sound"
format = "{volume}"
show_volume_when_muted=true
on_click = "pavucontrol"

[[block]]
block = "time"
format = "%Y/%m/%d %a %R"
timezone = "Asia/Shanghai"
interval = 30

[[block]]
block = "battery"
driver = "sysfs"
format = "{percentage} {time}"
allow_missing = true
good=70
info=50
warning=30
critical=15

